*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(226, 226, 226);
}

#bannerInicial{
    width: 100%;
}
#missao{
    font-size: 20px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}